$primary: #e39161;
$secondary: #495e63;
$success: #60ba62;
$danger: #c7464e;
$warning: #e39161;
$info: #a1adcf;
$light:	#ffffff;
$dark: #242329;
$white:	#ffffff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

